<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fly Away</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/images/distance.jpg"
     alt="" class="image" height="640px" width="100%">
    <h1 class="dis">Distance Tracker</h1>
    <h3 class="quotes">The Distance between your  <br><span>Dreams </span>and <span> Reality</span> <br>is called <span>Action</span></h3>

    <h1 class="jinja">Total Distance : {{box}}</h1>
    <form action="" method="post">
        <input type="text" placeholder="Departure" name="city1" class="city1"><br><br><br>
        <input type="text" placeholder="Destination" name="city2" class="city2">
        <button type="submit" class="submit">Search</button>
    </form>
</body>
</html>